// TODO stillingar hér

$gutter: 20px;
$max-width: 1200px;

$h-fonts: 'Oswald', Verdana, serif;
$p-fonts: 'Open sans', helvetica, Arial, sans-serif;

$color-one:#000000;
$color-too:#fffcf2;
$color-three: #ff5000;
$color-four: #00b7ff