@import "config";

.course {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $gutter;

    & h2 {
        font-family: $h-fonts;
    }

    & p {
        font-family: $p-fonts;
    }
    & label{
        font-family: $p-fonts;
        font-weight: 500;
    }
    
    &__card{
        width: 50%;
        display: inline-block;
    }

    &__buy__info{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    &__input{
        width: 80%;
    }
    &__button{
        width: 100%;
        margin-left:35%;
        margin-right: 35%;
         &__init{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            background-color:$color-four;
            border-radius: 3px;
            border-color:$color-four;
            min-width: 50%;
         }
    }
}