@import "./config.scss";

footer {
  background-color: #00b7ff;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.footer__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $max-width;
  max-width: 100%;
  font-size: 21px;
  margin: 0 auto;
}

.footer__card {
  display: flex;
  padding-right: 90px;
  font-family: $p-fonts;
}

li {
  color: white;
  font-size: 0.6em;
  padding-top: 15px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: black;
}

ul {
  font-size: 1em;
  list-style: none;
}

.vorumerki {
  margin: 0 auto;
  font-family: $h-fonts;
  font-size: 0.8em;
}

label {
  font-weight: bold;
}
