header {
	background-color: #ff5000;
	display: flex;
	padding: 0 20px;  
	justify-content: center;
  }
  h1{
<<<<<<< HEAD
    font-size: 2em;
    font-family: "Open Sans", helvetica, arial, sans-serif;
=======
	font-size: 2em;
	font-family: $h-fonts;
	font-weight: bold;
>>>>>>> 72a0a07ae0a9518c4daa6feb29f356db5963a3d2
  }
  .box__header{
	  display:1200px;
	  display: flex;
	  justify-content: center; 
	  flex-direction: column;
	  padding: 20px 0;
  }
  .box__content{
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  text-align: center;
	  font-weight: bold;
  }
  @media screen{
	  .box__content{
		  max-width: 500px;
		  flex-direction: column;
		  justify-content: center;
	  }
  }
  .box__karfa{
<<<<<<< HEAD
      display:flex;
      align-items:center;
      justify-content: flex-end;
      font-weight: bold;
      font-family: "Open Sans", helvetica, arial, sans-serif;
      width: 180%;
      
=======
	  display:flex;
	  align-items:center;
	  justify-content: flex-end;
	  font-weight: bold;
	  font-family: $p-fonts;
	  width: 180%;
	  
>>>>>>> 72a0a07ae0a9518c4daa6feb29f356db5963a3d2
  }
  .linkar{
	  display: inline-block;
	  flex-direction: row;
	  align-items: flex-end;
  }
  @media screen{
	  .linkar{
		  display:flex;
		  justify-content: center;
		  widows: 100%;
		  max-width: 500px;
	  }
  }
  .linkar a{
	  margin: 10px;
	  text-decoration: none;
  }
<<<<<<< HEAD
  .linkur{
      color: black;
      font-weight: bold;
      display: inline-block;
      align-items: flex-end;
      flex-direction: row;
      font-family: "Open Sans", helvetica, arial, sans-serif;
      text-decoration: none;
=======
  
  .linkur {
	  color: black;
	  display: inline-block;
	  align-items: flex-end;
	  flex-direction: row;
	  font-family: $p-fonts;
	  font-weight: bold;
	  text-transform: uppercase;

	  &__current {
			color: black;
	  		font-family: $p-fonts;
			text-decoration: underline;
			font-weight: bold;
			text-transform: uppercase;
	  }
>>>>>>> 72a0a07ae0a9518c4daa6feb29f356db5963a3d2
  }