@import "./config.scss";

.product__info {
    max-width: $max-width/3;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: space-around;
    
    &__cards {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;    
    }
    &__card{
        max-width:30%;
        display:flex;
        padding: 20px 0;
    }
    &__mynd {
      width: 50px;
    }
    &__text {
        text-align: center;
        & h2 {
            font-family: $h-fonts;
        }
        & p {
            font-family: $p-fonts;
        }
    }
}