@import "./config";

.staff {
    display: flex;
    justify-content: center;
    max-width: $max-width;
    margin: 0 auto;
    
    &__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: $gutter;
    }

    &__card {
        max-width: ($max-width/2)-$gutter/2;
        margin-bottom: $gutter;
    }

    &__mynd {
        height: 100%;
    }
}