@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  color: -internal-root-color;
}
body{
  display: block;
  }

/* TODO fleiri grunn stillingar */

/* TODO sækja allar sass skrár */
@import "./scss/cart";
@import "./scss/course";
@import "./scss/footer";
@import "./scss/forsida";
@import "./scss/header";
@import "./scss/products";
@import "./scss/staff";
